.aboutBg{
    background-image: url("https://previews.123rf.com/images/tenmillions/tenmillions1311/tenmillions131100001/24034798-white-islamic-pattern-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}