

.Pillers{
    position: relative;
   
    width: 100%;


}

.overLay{
    position:absolute;
    height: 100%;
    width: 100%;
    display:block;
    z-index: 2;
    background: rgba(198, 198, 228, 0.137);
}